<div class="container mt-3">
    <div *ngIf="!registerMode" style="text-align: center">
        <h1>FIND YOUR MATCH</h1>
        <p class="lead">Come on in to see your match ... all you need to do is sign up.</p>
        <div class="class-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-lg btn-info">Learn More</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegisterForm) = "cancelRegister($event)"></app-register>
            </div>
        </div>
    </div>
</div>
